<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
<body>
<!-- News Section (Big Image Slider) -->
<div class="featured-products" th:fragment="featured-products">
    <h2>Featured Products</h2>
    <div class="products-container">
        <div class="product-card card" th:each="product : ${products}">
            <a th:href="@{/4Moos/product/{id}(id=${product.idProduct})}" class="product-link">
                <div class="image-button">
                    <img class="product-image" th:src="@{/images/{image}(image=${product.imageLink})}" alt="Ảnh sản phẩm"/>
                </div>
                <div class="product-details">
                    <h3 class="product-brand">BTOB</h3>
                    <p th:text="${product.productName}" class="product-title"></p>
                    <p class="product-desc">Finding perfect products</p>
                    <p th:text="${product.price}" class="product-price"></p>
                    <button class="add-to-cart" th:data-id="${product.idProduct}" onclick="addToCart(event)">
                        Add to cart</button>
                </div>
            </a>
        </div>


    </div>
</div>
</body>
</html>