<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head th:replace="~{fragments/head :: head}">
  </head>
  <body>
    <header th:fragment="header">
      <nav class="header-navigation">
        <div class="header-part">
          <div class="header-logo">
            <a href="/4Moos">Aegyo and Co.</a>
          </div>
        </div>
        <div class="header-part">
          <div class="header-nav">
            <div class="header-nav-item">
              <div class="dropdown">
                <button class="dropbtn">
                  Dropdown
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <div class="row">
                    <div class="column">
                      <h3>Solo Artists</h3>
                      <a href="#">IU</a>
                      <a href="#">TAEYEON</a>
                      <a href="#">ZICO</a>
                    </div>
                    <div class="column">
                      <h3>Groups</h3>
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                    <div class="column">
                      <h3>Category 3</h3>
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-nav-item"><a href="../index.html">Albums</a></div>
            <div class="header-nav-item">
              <a href="../index.html">Lightsticks</a>
            </div>
            <div class="header-nav-item"><a href="../index.html">MD</a></div>
          </div>
        </div>
        <div class="header-part">
          <div class="header-searchbar">
            <input type="search" placeholder="Search..." />
          </div>
          <div class="header-profile">
            <div class="profile-dropdown">
              <!-- Profile trigger -->
              <!-- Not logged in: profile icon links to login page -->
              <a th:if="${user == null}" href="/4Moos/login" class="profile-trigger">
                <img src="https://www.svgrepo.com/show/502899/user.svg" alt="Profile Picture"/>
                <span>Login</span>
              </a>

              <!-- Logged in: profile icon is just a trigger for dropdown -->
              <div th:if="${user != null}" class="profile-trigger">
                <img src="https://www.svgrepo.com/show/502899/user.svg" alt="Profile Picture"/>
                <span class="username" th:text="${user.userName}"></span>
              </div>


              <!-- Dropdown menu - only show when logged in -->
              <div class="dropdown-menu" th:if="${user != null}">
                <ul>
                  <li><a th:href="@{/4Moos/profile}">Profile</a></li>
                  <li><a th:href="@{/4Moos/orders}">Orders</a></li>
                  <li class="divider"></li>
                  <li>
                    <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" th:action="@{/4Moos/logout}" method="POST" style="display: none;"></form>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="header-cart">
            <a href="/4Moos/cart">
              <img src="https://www.svgrepo.com/show/505322/cart-2.svg" alt="Cart Picture"/>
              <span class="cart-quantity" th:text="${cartQuantity}" th:classappend="${cartQuantity == 0} ? ' hidden' : ''"></span>
            </a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
