<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head}">
  </head>
  <body>
    <header th:fragment="header">
      <nav class="header-navigation">
        <div class="header-part">
          <div class="header-logo">
            <a href="/4Moos">Aegyo and Co.</a>
          </div>
        </div>
        <div class="header-part">
          <div class="header-nav">
            <div class="header-nav-item">
              <div class="dropdown">
                <button class="dropbtn">
                  Dropdown
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <div class="row">
                    <div class="column">
                      <h3>Solo Artists</h3>
                      <a href="#">IU</a>
                      <a href="#">TAEYEON</a>
                      <a href="#">ZICO</a>
                    </div>
                    <div class="column">
                      <h3>Groups</h3>
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                    <div class="column">
                      <h3>Category 3</h3>
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-nav-item"><a href="../index.html">Albums</a></div>
            <div class="header-nav-item">
              <a href="../index.html">Lightsticks</a>
            </div>
            <div class="header-nav-item"><a href="../index.html">MD</a></div>
            <div class="header-nav-item"><a href="/4Moos/orders">Order</a></div>
          </div>
        </div>
        <div class="header-part">
          <div class="header-searchbar">
            <input type="search" placeholder="Search..." />
          </div>
          <div class="header-profile">
            <a href="/login">
              <img src="https://www.svgrepo.com/show/502899/user.svg" alt="Profile Picture"/>
              <th:block th:if="${user != null}"><p th:text="${user.userName}"></p></th:block>
            </a>
          </div>
          <div class="header-cart">
            <a href="/4Moos/cart">
              <img src="https://www.svgrepo.com/show/505322/cart-2.svg" alt="Cart Picture"/>
              <span class="cart-quantity" th:text="${cartQuantity}" th:classappend="${cartQuantity == 0} ? ' hidden' : ''"></span>
            </a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
