<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by:
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Featured</a>
        <a class="dropdown-item" href="#">Price: Low to High</a>
        <a class="dropdown-item" href="#">Price: High to Low</a>
        <a class="dropdown-item" href="#">Average Rating</a>
        <a class="dropdown-item" href="#">Newest Arrivals</a>
        <a class="dropdown-item" href="#">Best Sellers</a>
    </div>
</div>
</body>
</html>