.cart-title {
  margin-top: 50px;
  text-align: center;
}

.go-back {
  width: fit-content;
  display: inline-block;
  margin-top: 10px;
  color: black;
}

.cart-container {
  width: 70%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;
}

.list-items {
  flex: 1 1 65%;
}

.item {
  display: flex;
  border-bottom: 2px solid #78a2cc;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}

.product-item {
  display: flex;
  flex: 1 1 45%;
  column-gap: 20px;
  align-items: center;
  margin: 20px 0;
  color: black;
  user-select: none;
}

.product-item a {
  width: 100%;
}

.control-item {
  display: flex;
  flex: 1 1 45%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.cart-image {
  width: 130px;
  border-radius: 10px;
}

.quantity-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  background: #78a2cc;
  border: 1px solid black;
}

.quantity-btn button {
  width: 40px;
  height: 40px;
  background: #78a2cc;
  font-size: 24px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.quantity-btn button:first-child {
  border-right: 1px solid black;
}

.quantity-btn button:last-child {
  border-left: 1px solid black;
}

/* Nút tăng giảm */
.quantity-btn input.quantity::-webkit-inner-spin-button,
.quantity-btn input.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity {
  width: 40px;
  text-align: center;
  border: none;
  background: transparent;
  font-size: 16px;
  outline: none;
  color: white;
  font-weight: bold;
}

.remove-btn {
  background: none;
  border: none;
  color: #78a2cc;
  font-size: 25px;
  cursor: pointer;
}

.checkout-form {
  width: 30%;
  min-width: 300px;
  height: fit-content;
  background: #78a2cc;
  color: white;
  padding: 20px;
  border-radius: 10px;
  line-height: 2rem;
}

.total-container{
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
}

input[type="text"], input[type="tel"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline: none;
  resize: none;
  background-color: whitesmoke;
}

.login-remind {
  text-align: center;
  margin-top: 20px;
}

.login-remind a:hover {
  color: #f7e0f9;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox span {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}

.custom-checkbox input:checked + span {
  background-color: #ff7eb3;
  border-color: #ff7eb3;
}

.out-stock {
  position: relative;
}

.out-stock .product-item,
.out-stock .control-item {
  opacity: 0.7;
}

.out-stock .out-stock-label {
  display: flex;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #f7e0f9;
  border-radius: 50%;
}

.quantity-alert {
  display: none;
  text-align: center;
  color: red;
  margin-bottom: 3px;
}