
/* --- News Slider --- */
.news {
    width: 1300px;
    max-width: 100%;
    height: 523px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.news .list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 0.8s;
}

.news .list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}


.news .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.news .buttons button {
    pointer-events: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(30, 28, 28, 0.751);
    color: white;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.7;
}

.news .buttons button:hover {
    opacity: 1;
}

/* Show buttons on hover */
.product-container-wrapper:hover .buttons,
.buttons:hover {
    opacity: 1;
    pointer-events: all;
}



.dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    border-radius: 40%;
    background-color: #222b49;
    margin: 10px;
    transition: width 0.5s;
}

.dots li.active {
    width: 30px;
}