* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

#main {
  background: linear-gradient(
          45deg,
          #7496b8,
          #e3c4e6,
          #bed3e3,
          #c7e6f7,
          #f7e0f9
  );
  min-height: 100vh;
  display: flow-root;
}

.card-container {
  margin: 100px auto;
  width: 60%;
  line-height: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 40px;
  justify-items: center;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
  opacity: 1;
}

.add-to-cart {
  align-self: center;
  width: 240px;
  height: 40px;
  background-color: #81c0f1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: auto;
  font-size: 16px;
}

.card:hover .add-to-cart {
  opacity: 1;
}

.add-to-cart:hover {
  background-color: #262d4c;
  color: white;
  cursor: pointer;
}

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.toast {
  background-color: #7496b8;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
}

.btn {
  background: linear-gradient(to right, #ff7eb3, #ff758c);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
}

.text-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline: none;
  resize: none;
  background-color: whitesmoke;
}