<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" href="/css/cart-style.css" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div id="main">
      <div id="toast-container"></div>
      
      <h1 class="cart-title">Giỏ hàng của bạn</h1>

      <div class="cart-container">
        <div class="list-items">
          <div class="item" th:each="item : ${cart}"
               th:classappend="${item.product.availableQuantity <= 0} ? ' out-stock'">
            <label class="custom-checkbox">
              <input type="checkbox" class="product-checkbox"
                     th:data-id="${item.product.idProduct}"
                     th:data-price="${item.product.price}"
                     th:disabled="${item.product.availableQuantity <= 0}"
                     onchange="updateTotal()" />
              <span></span>
            </label>
            <a th:href="@{/4Moos/product/{id}(id=${item.product.idProduct})}" class="product-item">
              <img class="cart-image"
                   th:src="@{/images/{image}(image=${item.product.imageLink})}" alt="Ảnh sản phẩm"/>
              <h3 th:text="${item.product.productName}">Tên sản phẩm</h3>
            </a>
            <div class="control-item">
              <div>
                <p class="quantity-alert"></p>
                <div class="quantity-btn">
                  <button onclick="decreaseQty(this); updateCart(this)"
                          th:disabled="${item.product.availableQuantity <= 0}">-</button>
                  <input type="number" class="quantity" th:value="${item.quantity}"
                         th:data-available="${item.product.availableQuantity}"
                         th:disabled="${item.product.availableQuantity <= 0}"
                         onchange="changeQty(this); updateCart(this)"/>
                  <button onclick="increaseQty(this); updateCart(this)"
                          th:disabled="${item.product.availableQuantity <= 0}">+</button>
                </div>
              </div>
              <h3 class="total-price">Giá</h3>
              <button class="remove-btn" onclick="removeItem(this)">X</button>
            </div>
            <span class="out-stock-label" th:if="${item.product.availableQuantity <= 0}">HẾT HÀNG</span>
          </div>

          <a class="go-back" href="/4Moos">Tiếp tục mua sắm</a>
        </div>

        <form class="checkout-form" action="/4Moos/checkout" method="post">
          <input type="hidden" name="itemsJson" id="formItemsJson" />
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div class="total-container">
            <h3 class="label">Thành tiền:</h3>
            <h3 id="total-amount"></h3>
          </div>
          <th:block th:if="${user != null }">
            <button th:disabled="${user.purchaseRestricted}"
                    th:data-isBanned="${user.purchaseRestricted}"
                    class="btn" id="buy-btn" onclick="prepareOrder(event)">MUA HÀNG</button>
          </th:block>
          <th:block th:if="${user == null}">
            <h5 class="login-remind">Vui lòng <a href="/4Moos/login">ĐĂNG NHẬP</a> để đặt hàng!</h5>
          </th:block>
        </form>
      </div>
    </div>
    <script src="/js/cart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
<!--              0 chữ số thập phân, cách hàng nghìn bằng ".", cách thập phân bằng ","-->
<!--              th:text="${#numbers.formatDecimal(item.totalPrice, 1, 'POINT', 0, 'COMMA')} + ' ₫'"-->
